<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <section>
        <form id="fileForm" class="container" method="POST" action="{% url 'run_convert' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <a href="./pdfAPI" download="template"><button type="button" id="download"><i class="fa-solid fa-file"></i>
                    下載範本</button></a>
            <label for="upload_file" id="cc"><i class="fa-solid fa-upload"></i> 上傳資料</label>
            <input type="file" id="upload_file" name="post_file" style="display: none;" webkitdirectory multiple>
            <!--   -->
            <button type="submit" id="process"><i class="fa-solid fa-gears"></i> 執行</button>
        </form>
        <div class="output_pdf">
            <iframe frameborder="0" id="pdfFrame" style="width: 25rem;
    aspect-ratio: 1/1.5;"></iframe>
        </div>
    </section>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const download = document.querySelector("#download");
            // const upload = document.querySelector("#upload_file");
            const upload = document.querySelector("#cc");
            const process = document.querySelector("#process");
            const fileform = document.querySelector("#fileForm");
            const output = document.querySelector(".output_pdf");
            const pdfFrame = document.querySelector("#pdfFrame");
            const URL = "http://127.0.0.1:8000/return_file";
            let status = " {{ State }} ";

            // upload 
            // upload.addEventListener('click',()=>{
            //     let promise = fetch(url).then((res)=>{console.log(res)}).catch((err)=>{alert("error")});
            // })

            fileform.addEventListener('submit', (event) => {
                event.preventDefault();
                // process.disabled = true;
                const getForm = new FormData(fileform);
                fetch(URL, {
                    method: "POST",
                    body: getForm
                })
                    .then(res => {
                        console.log(res)
                        if (!res.ok) {
                            throw new Error("媽的又跳");
                        }
                        // return res.json()
                    })
                    .then(data => {
                        console.log(data)
                        getData(data);
                    })
                    .catch(err => { console.error(err) });
                // .then(res => { output.innerHTML = res })
            })

            const getData = (route) => {
                const file_route = "http://127.0.0.1:8000/return_file";
                pdfFrame.src = file_route;
            }



        })


    </script>

</body>


</html>